body,
html{
	height: 100%;
	width: 100%;
}
img{
margin-left: auto;
margin-right: auto;
display: block;
transform: translateX(20px);
animation-name:lightSpeedInLeft;
animation-duration: 2s;
position: relative;
top: 160px
}
h2{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;

}
p{
	font-family: 'Playball', cursive;
	color: red;
	text-align: center;
	line-height: 60px
}
h6{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;
	line-height: 40px;
	background-color: white;
	width: 700px;
/*	border: 5px solid black;
	border-bottom: 2.5px*/
	padding: 25px;
	margin: auto;
	transform: translate(5%,10%);
}
.container{
	position: relative;
}
.top-center{
	/*position: fixed;
	top: 15%;
	left:50%;*/
	transform: translate(5%,-240%);
	text-align: center;
}
.btn{

	border-radius: 3px;
	font-family: 'Poiret One', cursive;
	width: 300px;
} 
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: red;
	cursor: pointer;
	border-color: white;
}
.padding{
	position: relative;
	transform: translate(35%,130%);
}
