.Input {
    width: 100%;
    font-size: 18px;
    padding: 5px 15px;
    background-color: rgb(140, 179, 64);
    border-radius: 10px;
    /* margin: 6px; */
    color: rgb(231, 255, 175);
    border: 1px solid rgb(140, 179, 64);
    font-size: 20px;
}
.Col2 {
    grid-column: span 2;
}
.Input:focus-visible {
    outline: none;
}

/* @media (max-width: 500px) {
    .Input {
        width: 80%
    }
} */